# ── Server ────────────────────────────────────────────
PORT=5001
NODE_ENV=development or production
CORS_ORIGIN=http://localhost:3000

# ── MongoDB ───────────────────────────────────────────
MONGODB_URI=''
#optional: If you want to use a local MongoDB instance, uncomment the following line and comment out the above line
# MONGODB_URI='mongodb://localhost:27017/your-database-name'



# ── SMTP / Email (Gmail example) ──────────────────────
# For Gmail: enable 2FA and generate an App Password at
# https://myaccount.google.com/apppasswords
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mail@mail.com
SMTP_PASS=password
#Remember to replace the above SMTP_USER and SMTP_PASS with your actual Gmail credentials or use environment variables for better security.

# Admin Email that receives new batch job notifications
ADMIN_EMAIL=admin@email.com
#Remember to replace the above ADMIN_EMAIL with your actual email address or use environment variables for better security.(Optional) You can also set up a dedicated email address for receiving notifications.


ML_SERVICE_URL=http://localhost:8000 #Replace with the actual URL of your ML service if it's hosted elsewhere.
ML_TIMEOUT_MS=12000000 
#Change this value based on your ML service's expected response time. The value is in milliseconds (e.g., 12000000 ms = 3 hours).(Although this is not required as we are using polling to check the status of the ML service, it's good to have a timeout value to prevent indefinite waiting in case of issues with the ML service.)
